*{
	margin: 0;
	padding: 0;
	}
ul{
	list-style: none;
}
header{
	position:fixed;
	top:0;
	left:0;
	width: 100%;
	height: 135px;
	background-color: #333;
	z-index: 100;
}
header h2,
header ul{
	float: left;
}
header li{
	float: left;
	height: 135px;
	line-height: 135px;
	padding-left: 15px;
	padding-right: 15px;
}
header a{
	color: #fff;
}
#main .section{
	/*padding-top: 135px;*/
}

.s1 .slide{
	text-align: center;
	background-image:url(../images/bg_02.jpg);
	background-size: cover;
}
.s1 .s1_s2,
.s1 .s1_s3{
	background-image:url(../images/in_01.jpg);
}
.s1 .fp-controlArrow{
	display: none !important;
}

.section{
	position: relative;
}
.section .backup{
	display: none;
}
.section .front{
	padding-top: 135px;
	width: 100%;
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom: 0;
	background-color: dodgerblue;
	z-index: 150;
}
