*{
	margin: 0;
	padding: 0;
	}
ul{
	list-style: none;
}
header{
	position:fixed;
	top:0;
	left:0;
	width: 100%;
	height: 135px;
	background-color: #333;
	z-index: 100;
}
header h2,
header ul{
	float: left;
}
header li{
	float: left;
	height: 135px;
	line-height: 135px;
	padding-left: 15px;
	padding-right: 15px;
}
header li.active a{
	color:red;
}
header a{
	color: #fff;
}
#main .section{
	/*padding-top: 135px;*/
}

.s1 .slide{
	text-align: center;
	background-image:url(../images/bg_02.jpg);
	background-size: cover;
}
.s1 .s1_s2,
.s1 .s1_s3{
	background-image:url(../images/in_01.jpg);
}
.s1 .fp-controlArrow{
	display: none !important;
}

.section{
	position: relative;
}
.section .backup{
	display: none;
}
.section .front{
	padding-top: 135px;
	width: 100%;
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom: 0;
	background-color: dodgerblue;
	z-index: 150;
}
/*tabs*/
.s2 .content{
	background-image: url(../images/bg.png);
	background-position: center center;
	background-repeat: no-repeat;
	width: 756px;
	height: 417px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 135px;
	color: #fff;
}
.tab_title.active{
	color:red;
	font-size: 16px;
}
.slide{
	position: relative;
}
.slide .back{
	position: absolute;
	right:50px;
	top:135px;
}
#main{
	transition:margin-top 1s ease;
}
footer{
	height: 160px;
	position: fixed;
	bottom:-160px;
	width: 100%;
	background-color: gold;
	transition:bottom 1s ease;
}
/*modal*/
.modal{
	position: absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
	z-index: 300;
	text-align: center;
	color:#fff;
	display: none;

}
.modal .mask{
	height: 100%;
	width: 100%;
	position: absolute;
	left:0;
	top:0;
	background-color: rgba(0,0,0,.7);
}
.modal_content{
	height: 100%;
	width: 100%;
	position: relative;
	
}
.slider_content{
	width: 2300px;
	height: 500px;
}
.slider_container{
	width: 1150px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 90px;
	background-color: lightcoral;
	z-index: 250;
	border:5px solid red;
	overflow: hidden;
}
.modal .pre{
	position:absolute;
	left:-100px;
	top:50%;
}
.modal .next{
	position:absolute;
	right:-100px;
	top:50%;

}
.modal .slide_controls{
	position: absolute;
	top:250px;
	width: 1150px;
}
.modal .close{
	position: absolute;
	right:50px;
	top:-50px;
}
.modal .slide{
	width: 1150px;
	height: 500px;
	background-color: deepskyblue;
	float:left;
}
.modal .slide:nth-child(2n){
	background-color: yellow;
}
